@page "/login"
@inherits LoginBase

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <EditForm Model="@user" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="user.username" class="form-control" />
                <ValidationMessage For="@(() => user.username)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="user.pwd" type="password" class="form-control" />
                <ValidationMessage For="@(() => user.pwd)" />
            </div>
            <button disabled="@loading" class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Login
            </button>
            <NavLink href="register" class="btn btn-link">Register</NavLink>
        </EditForm>
    </div>
    <div>@errorText</div>
</div>
